<!DOCTYPE html>
<html>
  <head>
    <title>Daily Dad Joke</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'stylesheets'%>
    <%= render "shared/nav" %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
